

<div style="background: #fff;">

    <div class="container1">
        <div style="display: flex; 
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;">
            <div class="col-lg-8 col-md-7">
                <div class="blog__sidebar">
                    
                    <div class="blog__sidebar__item">
                        <h2>Categorias</h2>
                        <ul>
                            <li *ngFor="let tag of listTag"><a href="javascript:void(0)">{{tag.name}}</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h2>Ofertas Especiales</h2>
                        <div class="blog__sidebar__recent">
                            <a href="javascript:void(0)" routerLink="/blog/{{blog.id}}" class="blog__sidebar__recent__item" *ngFor="let blog of listBlogNewest">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{{'data:image/jpg;base64,' + blog.image.data}}" alt="75px" width="75px">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <p>{{blog.title}}</p>
                                    <span>{{blog.createAt}}</span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div style="display: flex; 
                align-items: center;
                flex-wrap: wrap;
                justify-content:space-evenly;">
                    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let blog of listBlog">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{'data:image/jpg;base64,' + blog.image.data}}" alt="75px" width="75px">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{blog.createAt}}</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <p>{{blog.description}}</p>
                                
                                <a href="javascript:void(0)" routerLink="/blog/{{blog.id}}" class="blog__btn" style="background: rgba(255,69,0, .6);  
                                border: 1px solid rgba(0,0,0,.1);">Detalles <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>