
<p-toast>
    
</p-toast>


<div style="background-color: #fff;"> 
    <br>
    <h1>“Una explosión 
        <br> de alivio”</h1>
    <p><strong>&emsp;"Pop's Carrots,"</strong>es un snack a base de <strong>zanahoria </strong>que, está diseñado para personas que padecen <strong>estres oxidativo</strong>
        ,ofreciendo una solución que combina <strong>ingredientes naturales y propiedades antioxidantes.</strong></p>

        <div class="container">
            <div class="box">
              <img src="assets/image/palomitas1.jpg">
              
            </div>
            <div class="box">
              <img src="assets/image/palomitas2.jpg">
              
            </div>
            <div class="box">
              <img src="assets/image/palomitas3.jpg">
              
            </div>
            <div class="box">
              <img src="assets/image/palomitas4.jpg">
              
            </div>
          </div>

          

          
                <h1>Productos</h1>
             


  <div class="container1">
    <div   style="display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-between;">
    <div class="product-img">
      <img src="assets/image/harinabing-removebg-preview.png" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Harina de zanahoria</h1>
        <br>
        <p>Harina a base de zanahorias,<br> glucosa y adiconada con miel de agave<br> para evitar el estres oxitativo en los adultos.</p>
        
      </div>
      <div class="product-price-btn">
        <p><span>67</span>$</p>
        <button type="submit" class="btn btn-primary btn-block" style="background: rgba(255,69,0, .6);  
                        border: 1px solid rgba(0,0,0,.1);"  [routerLink]="['/product/12']">Ver Ahora</button>
      </div>
    </div>

    
    <div class="product-img">
        <img src="assets/image/popsbing-removebg-preview.png" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Pops Carrot</h1>
          <br>
          <p>Palomitas a base de zanahoria,<br> hechas con glucosa y adiconadas con miel de agave para evitar el estres oxitativo en los adultos.</p>
        </div>
        <div class="product-price-btn">
          <p><span>30</span>$</p>
          <button type="submit" class="btn btn-primary btn-block" style="background: rgba(255,69,0, .6);  
                        border: 1px solid rgba(0,0,0,.1);"  [routerLink]="['/product/13']">Ver Ahora</button>
        </div>
      </div>

      
    </div>
  </div>


  <h1>Nuestros Ingredientes</h1>
  <br>
  <section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="assets/image/endulzante_natural_fruta_del_monje.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Fruta del monje</h2>
          
          <p>
            La fruta del monje es un alimento seguro para la población en general, incluso para
            las personas con diabetes, los niños y mujeres embarazadas. Fue reconocido como
            alimento seguro por la FDA en el año 2010.
            Se utiliza como edulcorante natural, capaz de endulzar sin aportar calorías.
          </p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="assets/image/mantener-verduras-frescas-zanahoria.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Zanahoria</h2>
          <p>
            La zanahoria es una hortaliza, denominada como aquella con mayores cantidades
de provitamina A en forma pro-vitamina, o betacaroteno (Renán, A. 2022).
Esto significa que es un alimento con alto valor de antioxidantes.
          </p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="assets/image/amaranto.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>AMARANTO</h2>
          <p>
            El amaranto contiene proteínas que incluyen, albúmina rica en lisina, triptófano,
treonina y valina; globulina la cual es rica en leucina y treonina y las glutelinas ricas
en leucina, triptófano, treonina e histidina. Sus semillas contienen alto contenido de
grasas mono y poliinsaturadas.
          </p>
        </div>
      </div>
    </article>
    
  </section>
            


  <h1>Algunas Recetas</h1>
  <br>
  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
            <h2 class="card_title">PASTEL DE ZANAHORIA</h2>
          <div class="card_image"><img src="assets/image/pastel.jpg" alt="mixed vegetable salad in a mason jar. "></div>
          <div class="card_content">
            
            <h2 class="card_title">Ingredientes</h2>
            <div class="card_text">
              <p>Almendra molida o harina de almendra 100 g 
                <br>
                Azúcar moreno 100 g
                <br>
                Mezcla de harinas para elaboraciones sin gluten (ver más abajo) 33 g
                <br>
                Levadura química sin gluten 5 g
                <br>
                Canela molida 4 g
                <br>
                Comino molido 4 g
                <br>
                Nuez moscada molida 2 g
                <br>
                Zanahoria 100 g
                <br>
                Huevos "M" 1
                <br>
                Mermelada de naranja amarga (opcional) 15 g
                <br>
                Nueces peladas 10 g
                <br>
                Dátiles sin hueso 20 g
                <br>
                Queso crema 30 g
                <br>
                Crême fraîche 15 g
                <br>
                Azúcar glasé 10 g
                <br>
                </p>
                <h2 class="card_title">Tiempo</h2>
                <p>Elaboración 15 m
                    <br>
                    Cocción 50 m
                   <br>
                    Reposo 3 h
                    </p>
              
            </div>
          </div>
        </div>
      </li>
  
      <li class="cards_item">
        <div class="card">
            <h2 class="card_title">YOGHURT CON ZANAHORIAS DULCES Y NUEZ </h2>
          <div class="card_image"><img src="assets/image/yogurt.jpg" alt="a Reuben sandwich on wax paper. "></div>
          <div class="card_content">
            <h2 class="card_title">Ingredientes</h2>
            <div class="card_text">
                <p>1 1/2 cucharadas de mantequilla
                    <br>
                    2 zanahorias, pelada y rallada
                    <br>
                    1/4 tazas de azúcar mascabado
                    <br>
                    1 cucharadita de canela
                    <br>
                    1/4 tazas de nuez de castilla, picadas y tostadas
                    <br>
                    4 yogur, natural Oikos® (150 ml c/u)
                    <br>
                    </p>
                    <h2 class="card_title">Tiempo</h2>
                    <p>Elaboración 10 m
                        </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
            <h2 class="card_title">HOT CAKES DE ZANAHORIA</h2>
          <div class="card_image"><img src="assets/image/hotcake.jpg" alt="A side view of a plate of figs and berries. "></div>
          <div class="card_content">
            <h2 class="card_title">Ingredientes</h2>
            <div class="card_text">
              <p>
                1 1/2 tazas de harina
                <br>
                1 cucharada de polvo para hornear
                <br>
                2 cucharadas de azúcar mascabado, Domino®
                <br>
                1/2 cucharaditas de sal
                <br>
                2 cucharadas de mantequilla, derretida
                <br>
                1 1/2 tazas de leche
                <br>
                1 huevo
                <br>
                1 cucharadita de extracto de vainilla
                <br>
                1 cucharadita de canela en polvo
                <br>
                1/4 cucharaditas de jengibre en polvo
                <br>
                1/2 tazas de zanahoria, rallada
                <br>
                1/2 tazas de nuez, finamente picadas
                <br>
                1 taza de queso crema, para el icing
                <br>
                2 cucharadas de leche, para el icing
                <br>
                1/2 cucharaditas de extracto de vainilla, para el icing
                <br>
                1/4 tazas de azúcar mascabado, Domino®
                <br>
                suficiente de mantequilla
                <br>
                suficiente de nuez, para decorar
                <br>
                suficiente de zanahoria, rallada para decorar
            </p>
            <h2 class="card_title">Tiempo</h2>
                <p>Elaboración 20 m
                    <br>
                    Cocción 10 m
                 
                    </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>






  
          






<div class="testimonial">
<div class="small-container" style="max-width: 1080px;

margin: auto;
padding-left: 25px;
padding-right: 25px;">
<h1>Comentarios</h1>
<div class="row" style="display: flex; 
align-items: center;
flex-wrap: wrap;
justify-content:space-evenly;">
    <div class="col-3" style="text-align: center; background: white;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;">
        <i class="fa fa-quote-left"></i>
        <p style="font-size: 15px;
        margin: 12px 0;
        color: #777;">Son la mejor opcion para una botana saludable despues de un gran dia de trabajo, es lo mas delicioso que he probado.</p>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <img src="assets/image/persona1.jpg">
        <h3>Ricardo Miguel</h3>
    </div>
    <div class="col-3" style="text-align: center; background: white;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;">
        <i class="fa fa-quote-left"></i>
        <p style="font-size: 15px;
        margin: 12px 0;
        color: #777;">Son muy deliciosas y ademas ayudan al estres diario de una manera muy sorprendente.</p>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <img src="assets/image/persona2.jpg">
        <h3>Karina Apolonio</h3>
    </div>
    <div class="col-3" style="text-align: center; background: white;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;">
        <i class="fa fa-quote-left"></i>
        <p style="font-size: 15px;
        margin: 12px 0;
        color: #777;">Es la primera vez que las pruebo y quede encantado, me parecen una opcion muy buena para sustituir las grasas.</p>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <img src="assets/image/persona3.jpg">
        <h3>Francisco Javier</h3>
    </div>
</div>

</div>

</div>



 
   


  

  

  
</div>
