<div style="background: #fff;">
    <section >
        <div   style="display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;">
            <div class="col-2" >
                <h1>Gyka</h1>
                <p >GYKA es una empresa que se dedica a la elaboración de snacks saludables a base de zanahoria, amaranto, limón y miel de agave. Su producto estrella, "Pop's Carrots," está diseñado para personas que padecen estrés oxidativo, ofreciendo una solución que combina ingredientes naturales y propiedades antioxidantes. </p>
                
            </div>
            <div class="col-4" >
                <img  src="assets/image/GYKATECH0.png" >
            </div>
        </div>
    </section>

      <!-- Testimonial -->
  <div class="testimonial" >
    <div class="small-container" style="max-width: 1080px;
    
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;">
        <div class="row" style="display: flex; 
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;">
            <div class="col-3" style="text-align: center; background: white;
            padding: 40px 20px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.5s;">
                <i class="fa fa-quote-left"></i>
                <p style="font-size: 15px;
    margin: 12px 0;
    color: #777;">Obtener el mayor aprovechamiento de recursos naturales y materia prima, para 
                    contribuir en la salud de las personas, brindando un producto de calidad.
                    </p>
                
                <h3 style="font-size: 25px;
                margin: 12px 0;" >Mision</h3>
            </div>
            <div class="col-3 " style="text-align: center; background: white;
            padding: 40px 20px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.5s;">
                <i class="fa fa-quote-left"></i>
                <p style="font-size: 15px;
                margin: 12px 0;
                color: #777;">Ser una empresa productora de snacks reconocida en el mercado de la región 
                    permitiendo un crecimiento en el ámbito social y comercial.
                    </p>
               
                
                <h3  style="font-size: 25px;
                margin: 12px 0;">Vision</h3>
            </div>
            <div class="col-3" style="text-align: center; background: white;
            padding: 40px 20px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.5s;">
                <i class="fa fa-quote-left"></i>
                <p style="font-size: 15px;
                margin: 12px 0;
                color: #777;">Honestidad,
                    Empatía,
                    Trabajo en equipo,
                    Responsabilidad,
                    Calidad.</p>
               
                
                <h3  style="font-size: 25px;
                margin: 12px 0;">Valores</h3>
            </div>
        </div>
    </div>
  </div>
  <br>
</div>